<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">IG Home</a></li>
  <li><a href="toc.html">Table of Contents</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Standardized sIRB Questionnaire Forms<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="Determination.html">Determination</a></li>
      <li><a href="Recruitment.html">Recruitment</a></li>
      <li><a href="Protocol.html">Protocol</a></li>
      <li><a href="Consent.html">Consent</a></li>
      <li><a href="AdverseEvent.html">Adverse Event </a></li>
      <li><a href="Non-MedicalEvent.html">Non-Medical Event</a></li>
      <li><a href="ContinuingReview.html">Continuing Review</a></li>    </ul>
  </li>
  <li><a href="Downloads.html">Downloads</a></li>
  <li><a href="artifacts.html">Artifact Index</a></li>
</ul>
